.Counter {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.AppContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid rgb(201, 252, 201);
  border-radius: 20px;
  width: 350px;
  height: 300px;
}

.Display {
  order: 1;
  border: 2px solid rgb(201, 252, 201);
  border-radius: 20px;
  align-self: center;
  width: 300px;
  height: 170px;
  background-color: rgb(201, 252, 201);
  align-items: center;
}

.ContainerButtons {
  order: 2;
  margin-bottom: 20px;
  align-self: center;
}

.Button {
  background-color: rgb(201, 252, 201);
  border: none;
  padding: 10px 30px;
  margin: 0px 10px;
  font-size: 15px;
  border-radius: 5px;
}

.Button:disabled {
  background-color: #a0bda0;
}

.value {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  font-size: larger;
  font-weight: 500;
}

.valueRed {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  font-size: x-large;
  font-weight: 900;
  color: red;
}
